<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <title>IZ-Developer-Resume</title>

  <script src="js/jquery-2.1.3.min.js"></script>
  <script src="js/helper.js"></script>
  <script src="js/bootstrap.min.js"></script>  
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">

  <meta name="viewport" content="width=device-width">
</head>
<body unresolved>


  <div id="main">

    <div id="header" class="center-content clearfix">
      <ul id="topContacts" class='flex-box'></ul>
    </div>

    <div style='clear: both;'></div>
    <br><br>
    <div id="summary">
      <h2>Summary</h2>
    </div> 
    <br><br><br>   

    <div id="workExperience" class='gray'>
      <h2>Work Experience</h2>
    </div>
    <div id="projects">
      <h2>Projects</h2>
    </div>
    <br><br><br>
    <div id="education" class='gray'>
      <h2>Education</h2>
    </div>
  
    <br><br>
    <div id="mapDiv">
      <h2>Where I've Lived and Worked</h2>
    </div>
    <div id="letsConnect" >
      <h2 class='orange center-text lets-connect-text'>Let's Connect</h2>
        <ul id="footerContacts" class="flex-box">
      </ul>
    </div>
  </div>

    <!-- Modal for project1-->
  <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="myModalLabel">Wiki project</h1>
        </div>
        <div class="modal-body ">
          <div class="flex-box-image">
            <h3>History page</h3>
            <img class="img-responsive image-shadow" src="images/wiki_history.png">
            <h3>Signup page</h3>
            <img class="img-responsive image-shadow" src="images/wiki_signup_page.png">
            <h3>Login page</h3>
            <img class="img-responsive image-shadow" src="images/wiki_login_page.png">
            <h3>Edit post content page</h3>
            <img class="img-responsive image-shadow" src="images/wiki_edit_page.png">
          </div>
          <div class = "modal-text">
            This web app a wiki that anyone can signin and write or modify the posts,and it was a final project for Udacity course cs253 (Web Development).The project was built on Google App Engine with Jinja2 templates.At that time the project didn't include a front-end-interface, I only worked on the backend of the app.<br>Github link.<br>
            <a target="_blank" href="https://github.com/igori0511/Wiki-Application">Wiki on Github</a><br>
            Working Wiki application:<br>
            <a target="_blank" href="http://cs253class1992.appspot.com/">Working Wiki</a><br>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for project2 -->
  <div class="modal fade" id="project2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="myModalLabel">Algorithms in Java</h1>
        </div>
        <div class="modal-body">
          <div class = "modal-text">

            <h2>Mini projects description can be found

            <a target="_blank" href="https://github.com/igori0511/Algorithms-on-Java">HERE</a></h2>

            <h2>Github links for the mini projects code can be found below:</h2>
            <div class="flex-box">
              <ol>
                <li><a target="_blank" href="https://github.com/igori0511/Algorithms-on-Java/tree/master/Assigment%201">Percolation<a/></li>

                <li><a target="_blank" href="https://github.com/igori0511/Algorithms-on-Java/tree/master/Assigment%202">Randomized Queues and Deques</a></li>
                
                <li><a target="_blank" href="https://github.com/igori0511/Algorithms-on-Java/tree/master/Assigment%203">Pattern Recognition</a></li>

                <li><a target="_blank" href="https://github.com/igori0511/Algorithms-on-Java/tree/master/Assigment%204">8 Puzzle</a></li>
                
                <li><a target="_blank" href="https://github.com/igori0511/Algorithms-on-Java/tree/master/Assigment%205">Kd-Trees</a></li>
                
                <li><a target="_blank" href="https://github.com/igori0511/Algorithms-on-Java/tree/master/Assigment%206">WordNet</a></li>
            </ol>
          </div>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal for project3 -->
  <div class="modal fade" id="project3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="myModalLabel">CUDA C Projects</h1>
        </div>
        <div class="modal-body">

          <h2>Mini projects can be found

           <a target="_blank" href="https://github.com/igori0511/CUDA-C-Projects">HERE</a></h2>


          <h2>Color to Grayscale conversion</h2>
          <div class="flex-box-image">
            <img class="img-responsive image-shadow" src="images/cuda_C.jpg">
            <img class="img-responsive image-shadow" src="images/gray_image.png">
          </div>

          <h2>Blurring an image</h2>
          <div class="flex-box-image">
            <img class="img-responsive image-shadow" src="images/cuda_C.jpg">
            
            <img class="img-responsive image-shadow" src="images/blurred_image.png">
          </div>  

          <h2>HDRtonemapping</h2>
          <div class="flex-box-image">
            <img class="img-responsive image-shadow" src="images/HDR_image_orig.png">
            
            <img class="img-responsive image-shadow" src="images/HDRtonemapped_image.png">
          </div>  
            
          
          <div class = "modal-text">
            In this course Udacity provided the code that is non parallelized, my job was to write the CUDA C part wich parallelized the computatuion on an NVIDIA GPU.
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <!-- Modal for project5-->
  <div class="modal fade" id="project6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="myModalLabel">Wiki project</h1>
        </div>
        <div class="modal-body ">
          <div class="flex-box-image">
            <h3>History page</h3>
            <img class="img-responsive image-shadow" src="images/post_history_wiki_java.png">
            <h3>Create new post page</h3>
            <img class="img-responsive image-shadow" src="images/wiki_create_new_post.png">
            <h3>Login page</h3>
            <img class="img-responsive image-shadow" src="images/wiki_login_page_java.png">
          </div>
          <div class = "modal-text">
            This web app is a wiki that anyone can signin and write or modify the posts,and it was a personal project at
            Endava internship. It uses <strong> Java SE 7, Spring Framework(Spring MVC, Spring Core, Spring Security), 
            JPA with Hiberante, Oracle XE 11, Maven and Bootstrap </strong>.
            <a target="_blank" href="https://github.com/igori0511/Wiki-on-Java">Wiki on Java - Github</a><br>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="js/resumeBuilder.js"></script>

  <script type="text/javascript">

    if(document.getElementsByClassName('flex-item').length === 0) {
      document.getElementById('topContacts').style.display= 'none';
    }
    if(document.getElementsByTagName('h1').length === 0) {
      document.getElementById('header').style.display= 'none';
    }
    if(document.getElementsByClassName('summary-entry').length === 0) {
      document.getElementById('summary').style.display= 'none';
    }    
    if(document.getElementsByClassName('work-entry').length === 0) {
      document.getElementById('workExperience').style.display= 'none';
    }
    if(document.getElementsByClassName('project-entry').length === 0) {
      document.getElementById('projects').style.display= 'none';
    }
    if(document.getElementsByClassName('education-entry').length === 0) {
      document.getElementById('education').style.display= 'none';
    }
    if(document.getElementsByClassName('flex-item').length === 0) {
      document.getElementById('letsConnect').style.display= 'none';
    }
    if(document.getElementById('map') === null) {
      document.getElementById('mapDiv').style.display= 'none';
    }
  </script>
</body>
</html>
